
  body { 
    background: #1f1a25;
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: hidden; */
    background: #2D3142;
    font-family: 'Raleway', sans-serif;
  }
  
  canvas {
    
  }


  @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
      
  
  h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 50px 0 0 0;
    color: #EF8354;
    font-weight: 500;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0 0 0;
    color: #EF8354;
    font-weight: 600;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 1em;
    text-align: center;
    color: #54a4ef;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  span {
    border: 2px solid #4F5D75;
    padding: 10px;
  }
    
  #container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  } 
  #cont {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  .button {
    display: inline-flex;
    height: 40px;
    width: 155px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
   
  .button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width:280px;
  }
  
  .button a {
    position: relative;
    transition: all .35s ease-Out;
  }
  
  #slide {
    width: 100%;
    height: 100%;
    left: -400px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #btn:hover #slide {
    left: 0;
  }
  
  #btn:hover a {
    color: #2D3142;
  }
  
  
  @media screen and (min-width:1000px) {
    h1 {
      font-size: 2.2em;
    }
    #container {
      width: 50%;
    }
  }
